.board{
	width: calc(100vh - 65px - 30px);
	height: calc(100vh - 65px - 30px);
	max-width: calc(100vw - 30px);
	max-height: calc(100vw - 30px);
	border-radius: 2.5%;

	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow: hidden;
}
